:root {
  --backgroundColor: #ffffff;
  --buttonColor: #d7d7d7;
  --panelColor: #f8f8f8;
  --topPanelColor: #333339;
  --shadowColor: rgba(0, 0, 0, 0.26);
  --shadowSize: 20px;
  --lightShadowColor: rgba(0, 0, 0, 0.27);
  --lightShadowSize: 20px;
  --linkColor: #282c34;
  --accentColor: #3362cb;
  --panelRadiaus: 10px;
  --buttonRadiaus: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#topBar {
  position: fixed;
  top: -40px;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 20px;
  overflow-x: hidden;
  background-color: var(--topPanelColor);
  box-shadow: 0px 0px var(--shadowSize) var(--shadowColor);
  z-index: 1;
}

#topBar table{
  width: calc(100% - 20px);
}

#categoryList {
  position: fixed;
  top: 70px;
  left: 0;
  width: 200px;
  height: calc(100% - 100px);
  /*margin: 20px;*/
  padding: 20px;
  overflow-x: hidden;
  background-color: var(--panelColor);
  box-shadow: 0px 0px var(--shadowSize) var(--shadowColor);
}

#main {
  position: relative;
  top: 80px;
  margin-left: 270px;
  width: calc(100% - 270px);
  height: calc(100% - 160px);
  border-radius: var(--panelRadiaus);
}

#frame {
  margin: 20px;
  padding: 20px;
  border-radius: var(--panelRadiaus);
  background-color: var(--panelColor);
  box-shadow: 0px 0px var(--shadowSize) var(--shadowColor);
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.3s;
}

#darken {
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 2;
  opacity:0;
  animation:fadeIn ease-in 0.5;
  animation-fill-mode:forwards;
  animation-duration:0.6s;
}

#darken-fadeout {
  position: fixed;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 2;
  opacity:0.5;
  animation:fadeOut ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.6s;
  animation-delay:-0.3s;
}

#framefloating {
  position: fixed;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
  width: 50%;
  border-radius: var(--panelRadiaus);
  background-color: var(--panelColor);
  box-shadow: 0px 0px var(--shadowSize) var(--shadowColor);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.3s;
  transition: 0.5s;
}

#framefloating-fadeout {
  position: fixed;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
  width: 50%;
  border-radius: var(--panelRadiaus);
  background-color: var(--panelColor);
  box-shadow: 0px 0px var(--shadowSize) var(--shadowColor);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  animation:fadeOut ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.3s;
}

#framebutton {
  margin: 20px;
  padding: 20px;
  border-radius: var(--panelRadiaus);
  background-color: var(--panelColor);
  box-shadow: 0px 0px var(--shadowSize) var(--shadowColor);
  color: var(--linkColor);
  transition: 0.5s;
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.3s;
}


#framebutton:hover {
  background-color: var(--backgroundColor);
  color: var(--accentColor);
  box-shadow: 0px 0px var(--lightShadowSize) var(--lightShadowColor);
  transition: 0.2s;
}

#textbox {
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px;
  border: 0px;
  border-radius: var(--buttonRadiaus);
  display: inline-block;
  background-color: var(--buttonColor);
  color: var(--linkColor);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s;
}
#textbox:focus {
  outline: none;
  background-color: var(--backgroundColor);
  box-shadow: 0px 0px var(--lightShadowSize) var(--lightShadowColor);
  transition: 0.2s;
}

textarea {
  position: relative;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px;
  border: 0px;
  border-radius: var(--buttonRadiaus);
  display: inline-block;
  background-color: var(--buttonColor);
  color: var(--linkColor);
  text-decoration: none;
  font-size: 15px;
  transition: 0.5s;
}
textarea:focus {
  outline: none;
  background-color: var(--backgroundColor);
  box-shadow: 0px 0px var(--lightShadowSize) var(--lightShadowColor);
  transition: 0.2s;
}

#button {
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 15px;
  border-radius: var(--buttonRadiaus);
  display: inline-block;
  background-color: var(--buttonColor);
  color: var(--linkColor);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

#button:hover {
  background-color: var(--backgroundColor);
  color: var(--accentColor);
  box-shadow: 0px 0px var(--lightShadowSize) var(--lightShadowColor);
  transition: 0.2s;
}

#circlebutton {
  margin: 10px;
  margin-left: -20px;
  margin-right: 40px;
  position: relative;
  top: 22px;
  display: inline-block;
  border-radius:50%;
  background-color: var(--buttonColor);
  transition: 0.5s;
}

#circlebutton:hover {
  background-color: var(--backgroundColor);
  box-shadow: 0px 0px var(--lightShadowSize) var(--lightShadowColor);
  transition: 0.2s;
}

#topbutton {
  margin: 10px;
  position: fixed;
  bottom: 22px;
  right: 22px;
  display: inline-block;
  border-radius:50%;
  background-color: var(--backgroundColor);
  box-shadow: 0px 0px var(--lightShadowSize) var(--lightShadowColor);
  transition: 0.5s;
  z-index: 2;
}

#topbutton:hover {
  background-color: var(--buttonColor);
  transition: 0.2s;
}


#listbutton {
  padding: 15px;
  display: inline-block;
  width: 100%;
  color: var(--linkColor);
  border-radius: var(--panelRadiaus);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

#listbuttonSelected {
  padding: 15px;
  display: inline-block;
  width: 100%;
  border-radius: var(--panelRadiaus);
  background-color: var(--lightShadowColor);
  box-shadow: 0px 0px var(--lightShadowSize) var(--lightShadowColor);
  color: var(--accentColor);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

#listbutton:hover {
  color: var(--accentColor);
  box-shadow: 0px 0px var(--lightShadowSize) var(--lightShadowColor);
  transition: 0.2s;
  z-index: 1;
}

#userAvatar {
  position: relative;
  margin: 5px;
  padding: 5px;
  padding-left: 8px;
  padding-top: 8px;
  height: 50px;
  width: calc(100% - 30px);
  border-radius: 30px;
  background-color: var(--buttonColor);
  color: var(--linkColor);
  font-weight: bold;
  transition: 0.5s;
}

#userAvatar:hover {
  background-color: var(--backgroundColor);
  color: var(--accentColor);
  box-shadow: 0px 0px var(--lightShadowSize) var(--lightShadowColor);
  transition: 0.2s;
}

#userAvatar img {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#userAvatar p {
  margin: 0;
  left: 70px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#circle {
  object-fit:cover;
  border-radius:50%;
}

#opinion {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

#opinion td{
  vertical-align: top;
}

#productname {
  position: relative;
  font-size: 25px;
  top: -100px;
  left: 20px;
  text-decoration: none;
  font-weight: bold;
}

#productprice {
  position: relative;
  font-size: 20px;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-weight: bold;
}

#productbuttons {
  position: relative;
  top: -60px;
  left: 280px;
  width: calc(100% - 280px);
}

#right {
  text-align:right;
}
#left {
  text-align:left;
}
#center {
  text-align:center;
}

#fullWidth {
  width: 100%;
}

#clearunderline{
  text-decoration: none;
}

#linkh2{
  margin: 40px;
  text-decoration: none;
  color: var(--linkColor);
  font-size: 23px;
  font-weight: bold;
  transition: 0.5s;
}

#linkh2:hover{
  color: var(--accentColor);
  transition: 0.2s;
}

h1{
  margin: 40px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

h2{
  margin: 40px;
  font-size: 23px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

#fontlarger{
  font-size: 20px;
}

th{
  font-size: 22px;
  font-weight: bold;
}

t::before {
  content: "\00a0 \00a0 \00a0 \00a0 ";
}

del {
  text-decoration: line-through;
}



/*      Animation templates       ////////////////////////////////////////*/
@keyframes fadeIn {
  to { opacity:1;}
}

@keyframes fadeOut {
  to { opacity:0;}
}